.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  color: #0b69ff;
}

.para {
  width: 250px;
  text-align: center;
}

.but {
  height: 30px;
  width: 100px;
  border-radius: 7px;
  background-color: #0b69ff;
  color: white;
}

.heading {
  color: #0b69ff;
  font-size: 40px;
}
